<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta
          name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>com.jbokman.intellij Property Inspector</title>
    <link rel="stylesheet" href="../../../libs/css/sdpi.css" />
</head>

<body>
    <div class="sdpi-wrapper">
        <hr class="tab-separator">
        <form id="property-inspector">
            <div id="tab1" class="tab-container">
                <div class="sdpi-item">
                    <div data-localize class="sdpi-item-label" title="Selected action">Action</div>
                    <select name="actions" id="actions" class="sdpi-item-value">
                        <option value="delete line">Delete Line</option>
                    </select>
                </div>

                <div type="textarea" class="sdpi-item">
                    <div class="sdpi-item-label" data-localize title="token">Token</div>
                    <div class="sdpi-item-value textarea">
                        <textarea
                                  name="message"
                                  type="textarea"
                                  maxlength="50"
                                  class="three-lines"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="sdpi-item">
            <div class="sdpi-item-label" data-localize title="Test connection button">Connection</div>
            <button
                    class="sdpi-item-value"
                    value="Test Connection"
                    data-localize
                    id="open-external">
                Test Connection
            </button>
            <div style="height: 35px; position: relative;" id="icon-container" class="check-icon-container">
                <img style="margin: 0;position: absolute;top: 50%;left: 50%; -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%); width: 20px; height: 20px; visibility: hidden;"
                     class="green-check-icon" src="../assets/greenCheckMark.png" alt="Checkmark" id="green-check-icon">
                <img style="margin: 0;position: absolute;top: 50%;left: 50%; -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%); width: 20px; height: 20px; visibility: hidden;"
                     class="red-x-icon" src="../assets/redX.png" alt="Error" id="red-x-icon">
            </div>
        </div>
    </div>

    <div class="sdpi-info-label hidden" style="top: -1000" value=""></div>

    <!-- Stream Deck Libs -->
    <script src="../../../libs/js/constants.js"></script>
    <script src="../../../libs/js/prototypes.js"></script>
    <script src="../../../libs/js/timers.js"></script>
    <script src="../../../libs/js/utils.js"></script>
    <script src="../../../libs/js/events.js"></script>
    <script src="../../../libs/js/api.js"></script>
    <script src="../../../libs/js/property-inspector.js"></script>
    <script src="../../../libs/js/dynamic-styles.js"></script>

    <!-- Property Inspector Source -->
    <script src="inspector.js"></script>
</body>

</html>
